footer {
    padding-top: 31px;
    padding-bottom: 0px;
    background-color: #1b262f;
}

.footer-box {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 31px;
}

.footer__content {
    align-items: center;
    display: flex;
    gap: 64px;
}

.footer__list {
    display: flex;
    gap: 40px;
}

.footer__item a {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FBFCFE;
    opacity: 0.7;
}

.footer__item a:hover {
    opacity: 1;
}

.footer__img-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__img-item__link1 {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 25px;
    height: 25px;
    background-image: url(../img/footer-img-facebook.png)
}

.footer__img-item__link2 {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 25px;
    height: 25px;
    background-image: url(../img/footer-img-twitter.png)
}

.footer__img-item__link3 {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 25px;
    height: 25px;
    background-image: url(../img/footer-img-linkedin.png)
}

@media screen and (max-width:660px) {

    .footer-box {
        overflow: hidden;
        flex-direction: column;
    }

    .footer__content {
        gap: 40px;
        flex-direction: column;
    }

    .footer__list {
        gap: 31px;
        flex-direction: column;
    }

    .wrapper__footer {
        background-repeat: no-repeat;
        background-image: url(../img/footer-background-2.png);
        background-size: 640px;
        background-position: center bottom;
        padding-bottom: 31px;
    }

}

@media screen  and (max-width:500px) {
    .wrapper__footer {
        background-repeat: no-repeat;
        background-image: url(../img/footer-background-2.png);
        background-size: 480px;
        background-position: center bottom;
        padding-bottom: 31px;
    }
}

@media screen  and (max-width:400px) {
    .wrapper__footer {
        background-repeat: no-repeat;
        background-image: url(../img/footer-background-2.png);
        background-size: 375px;
        background-position: center bottom;
        padding-bottom: 31px;
    }
}